.button {
  text-transform: uppercase;
  text-align: center;
  padding: 8px 24px;
  border-radius: 5px;
  transition: all .1s;
}

.button.primary {
  border: 1px solid var(--grey);
  background-color: var(--grey);
  color: var(--white);
}

.button.secondary {
  border: 1px solid var(--grey);
  background-color: var(--white);
  color: var(--grey);
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
}

.button.primary:disabled {
  background-color: var(--light-grey);
  border-color: var(--light-grey);
}

