.button {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  position: relative;
  padding: 8px;
  border-radius: 5px;
  transition: .1s;
  border: 1px solid var(--grey);
  background-color: var(--grey);
  color: var(--white);
}

.button:hover {
  cursor: pointer;
}
