.body-page-container {
  background-color: var(--white);
  /* min-height: 72vh; */
  margin: 16px;
}

@media (min-width: 768px) {
  .body-page-container {
    width: 100%;
    max-width: 767px;
    /* min-height: 79vh; */
    margin: 16px auto;
  }
}