.header {
  width: 100%;
  background-color: var(--blue);
  color: var(--white);
  padding: 20px 0;
}

.header-content {
  margin: 0 16px;
}

@media (min-width: 768px) {
  .header-content {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
  }
}