/**
  * - There is an issue with positioning the footer 
  * - when there is no data in the body, to put it at
  * - the bottom. It works on google and firefox but
  * - it fails on Safari. It should require JS instead
  * - and proper testing.
 */

.footer {
  width: 100%;
  height: 80px;
  font-size: 14px;
  color: var(--light-grey);
  background-color: var(--grey);
  display: flex;
  align-items: center;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 0 16px;
}

.footer-link {
  color: var(--light-grey);
  transition: all .2s;
}

.footer-link:hover {
  color: var(--white);
}

@media (min-width: 768px) {
  .footer-content {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
  }
}