.footer {
  width: 100%;
  text-align: right;
  color: var(--light-grey);
  background-color: var(--grey);
  padding: 20px 0;
  font-size: 14px;
  /* position: absolute;
  bottom: 0; */
}

.footer-content {
  margin: 0 16px;
}

.footer-link {
  color: var(--light-grey);
  transition: all .2s;
}

.footer-link:hover {
  color: var(--white);
}

@media (min-width: 768px) {
  .footer-content {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
  }
}