.search-component {
  border-bottom: 1px solid var(--light-grey);
  padding: 16px 0;
  margin: 0 16px;
}

.search-button {
  width: 100%;
}

.filter-data-block {
  display: block;
}

@media (min-width: 768px) {
  .search-button {
    width: auto;
  }

  .filter-data-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
